.git.zip
*.zip
*.rar
*.docx
*.doc

#reference code
/linux
/pascal
/OpenResource

#java compiled files
*.class

#c/c++ compiled files
*.exe
*.obj
*.cbp
*.dsw
*.ncb
*.opt
*.plg
#compiled files in vs
*.layout
*.depend
#MFC files
*.aps
*.clw
*.dsp
*.ncb
*.obj
*.plg
*.rc
*.rc2


#C++ --- MCU files
*.inp
*.LST
*.A51
*.M51
*.uvopt
*.LST

#backup files created by myself
*.bak

#project related files
*.project
*.classpath
*.cfg
**/project.properties
**/.settings
**/.metadata
**/.recommenders
**/.idea
**/RemoteSystemsTempFiles
**/Servers
**/bin
**/obj

#AdroidStudio
**/appcompat_v7
*.iml
*.gradle
#**/local.properties
**/.idea/wordspace.xml
**/.idea/libraries
**/.DS_Store
**/build
**/capatures
**/.externalNativeBuild
**/gradlew

!*.java
!*.h
!*.c
!*.cpp
!*.cs
!*.asm
!*.vb
!*.m

!*.htm
!*.html
!*.css
!*.js
!*.jsp

!*.xml
!*.properties


!*.py
!*.bat

!*.jpg
!*.txt