* {
	margin: 0;
	padding: 0;
	border-radius: 5px;
}

/*订单button的可选操作*/
.orderSelectButton{
	border: none;
	background-color: white;
	outline: none;
}
/*鼠标划过时*/
.orderSelectButton:hover{
	cursor: pointer;
	color: black;
	background-color: #FCDD44;
	text-decoration: underline;
	
}
/*链接未被访问时*/
.orderSelectButton:link{
	text-decoration: none;
}
/*链接被访问后*/
.orderSelectButton:visited{
	color: red;
	outline: none;
}
/*链接被点击时*/
.orderSelectButton:active{
	opacity: 0.8;
	text-decoration: none;
	border: none;
	outline: none;
}
/* 整个历史订单样式*/

#HistoryList {
	width: 750px;
	text-align: center;
	margin: 0 auto;
	padding: 10px 0;
	
}
#subTitle{
	font: "微软雅黑";
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	font-size: 25px;
	color: white;
	background-color: #121212;
	opacity: 0.8;
	
}
#contentHeadTd {
	width: 850px;
}


/* 查询结果样式*/

#contentAList {
	width: 748px;
	margin-top: 10px;
	
}


/*查询结果头部*/

#contentHeadTd {
	margin-top: 10px;
	width: 750px;
	margin: 5px;
	border: 1px solid black;
}


/* 查询模块样式*/

#chaxun ul {
	width: 750px;
	height: 40px;

}
#TakeDate{
	padding-left: 0;
}

/*chaxun下所有ul li的样式*/

#chaxun ul li {
	margin-top: 50px;
	margin: 0 10px;
	/*padding-left: 5px;*/
	height: 29px;
	float: left;
	line-height: 25px;
	list-style: none;
	/*border: 1px solid red;*/
}
#chaxun ul li:first-child{
	margin-left:0px;	
}
#chaxun ul li:last-child{
	margin-right: 0;
}
/*input样式*/

#chaxun ul li input {
	padding: 0;
	border: 1px solid black;
	height: 25px;
}


/*select样式*/

#chaxun ul li select {
	padding: 0;
	border: 1px solid black;
	height: 27px;
	margin-top: 1px;
}


/*查询控件*/

#chaxun #LDDCX {
	margin-left: 50px;
	width: 70px;
	color: black;
	background-color: #FCDD44;
	border: 0.5px solid black;
	text-align: center;
	border-radius: 5px;
	opacity: 0.8;
	outline: none;
}


/*鼠标点击查询控件时效果*/

#chaxun #LDDCX:hover {
	cursor: pointer;
	border-radius: 5px;
	opacity: 1;
}
#table_header{
	width:750px;
	height: 40px;
}
#table_header tr td input{
	height: 18px;
	border: 1px solid black;
}
/*点击图片效果*/
.arrow:hover{
	cursor: pointer;
	
}
/*点击订单详情特效*/
.orderDetial:hover{
	cursor: pointer;
}
/*焦点状态：提示用户可输入或选择东西*/

.form-control:focus {
	border-color: #66afe9;
	outline: 0; //删除outline的默认样式
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6); //添加了阴影效果
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgb(102, 174, 233, .6);
}


/*file。radio，checkbox获取焦点效果*/

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
	outline: thin dotted;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

#name td{
	border-radius: 0;
}
/*禁用输入*/

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
	cursor: not-allowed;
	background-color: #eee;
	opacity: 1;
}

.date {
	height: 15px;
	width: 130px;
	padding-left: 0px;
	margin-left: 0px;
}

#CTaTakeMan {
	margin-left: 20px;
	width: 50px;
}

.arrow {
	width: 20px;
	height: 20px;
	margin-top: 3px;
	margin-right: 0px;
}

.placef {
	margin-left: 20px;
	width: 70px;
	height: 15px;
}

.placet {
	margin-right: 26px;
	width: 70px;
	height: 15px;
}

#contentDetial {
	width: 750px;
	border-right: 1px solid #414141;
	border-bottom: 1px solid #414141;
	text-align: center;
}

#contentDetial td {
	border-left:  1px solid #414141;;
	border-top: 1px solid #414141;
	word-break: break-all;
	text-align: center;
}
#contentDetial #dingdanNumTd {
	text-align: right;
}

#contentDetial #dingdanActionTd {
	text-align: right;
}
/*订单处理总格局 跟踪，退款，快递详情等*/
#dealOrder{
	margin-top: 5px;
	margin-left: 5px;
	height: 25px;
}
/*订单处理样式*/
#dealOrder ul li{
	float: right;
	line-height: 24px;
	list-style: none;
}
#dealOrder ul li:first-child{
	float: left;
}
/*消除orderDeal中button原来样式*/
.dealOrder{
	background-color: white;
	border: none;
	margin-left: 5px;
}
/*对订单的选择样式*/
.dealOrder:hover {
	border: 1px solid deepskyblue;
	cursor: pointer;
	background-color: #97cbff;
	border-radius: 5px;
	opacity: 0.8;
}