font-family:name;
src:URL;
font-stretch:normal,condensed,ultra-condensed,extra-condensed,semi-condensed,expanded,semi-expanded,extra-expanded,ultra-expanded;
font-style:normal,italic,oblique;
font-weight:normal,bold,100~900;
unicode-range:unicode-range;
