. {
	margin: 0;
	padding: 0;
}


/*----*/

.w3layouts-login {
	margin-top: 8px;
	position: absolute;
	top: 30px;
	right: 50px;
}

.w3layouts-login a {
	color: aquamarine;
	position: relative;
	right: 150px;
	top: 5px;
}

.w3_login_module {
	position: relative;
	right: 0px;
}


/*--header--*/

.w3layouts-main-content {
	padding: 80px 0;
}

.logo h1 {
	font-size: 2em;
	text-align: center;
	margin: 0em 0 0;
}

.logo h1 a {
	text-decoration: none;
	color: #fff905;
}

.right-icons li {
	display: inline-block;
}

.w3layouts-login a {
	display: block;
	letter-spacing: 2px;
	font-size: 13px;
	color: #23C5BD;
	text-decoration: none;
	margin: 0 0.3em;
}

a.play-icon.popup-with-zoom-anim {
	color: #000000;
	font-size: 1em;
}

i.glyphicon.glyphicon-menu-hamburger {
	font-size: 1em;
	color: #fff;
}

body {
	overflow-x: hidden;
}

.tm-header {
	background: #000000;
	height: 80px;
	position: relative;
	top: 2px;
	z-index: 100;
}

.tm-site-name-container {
	padding-top: 20px;
	width: 400px;
	position: absolute;
	left: 200px;
	top: 10px;
}

.tm-site-name-container a {
	text-decoration: none;
	position: absolute;
	right: 240px;
}

.tm-site-name {
	color: #FCDD44;
	font-size: 27px;
	font-weight: 600;
	text-transform: uppercase;
}

.tm-site-name:hover,
.tm-site-name:focus {
	color: #FF720B;
}

.mobile-menu-icon {
	display: none;
}

.tm-nav {
	display: block;
	overflow: hidden;
	position: relative;
	left: 450px;
	top: 0px;
}

.tm-nav li {
	list-style: none;
	float: left;
}

.tm-nav li a {
	color: #838383;
	display: block;
	text-decoration: none;
	padding: 45px 34px 15px 34px;
	text-transform: uppercase;
	transition: all 0.3s ease;
}

.tm-nav li a.active,
.tm-nav li a:focus,
.tm-nav li a:hover {
	background: #FCDD44;
	color: #000;
}


/*--//header--*/


/* login/register */

.form-module {
	position: relative;
	background: #ffffff;
	max-width: 400px;
	width: 100%;
	border-top: 5px solid #FF8D1B;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.25);
	margin: 1em auto;
}

.form-module .toggle {
	cursor: pointer;
	position: absolute;
	top: -0;
	right: -0;
	background: #FF8D1B;
	width: 30px;
	height: 30px;
	margin: -5px 0 0;
	color: #ffffff;
	font-size: 12px;
	line-height: 30px;
	text-align: center;
}

.form-module .toggle .tooltip {
	position: absolute;
	top: 5px;
	right: -75px;
	display: block;
	background: rgba(0, 0, 0, 0.6);
	width: auto;
	padding: 5px;
	font-size: 12px;
	line-height: 1;
	text-transform: uppercase;
	opacity: 1;
	font-family: 'Ubuntu', sans-serif !important;
}

.form-module .toggle .tooltip:before {
	content: '';
	position: absolute;
	top: 5px;
	left: -5px;
	display: block;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-right: 5px solid rgba(0, 0, 0, 0.6);
}

.form-module .form {
	display: none;
	padding: 30px;
}

.form-module .form:nth-child(2) {
	display: block;
}

.form-module h3 {
	margin: 0 0 1.5em;
	color: #212121;
	font-size: 1.2em;
	font-weight: 400;
	line-height: 1;
}

.form-module input[type="text"],
.form-module input[type="password"],
.form-module input[type="email"] {
	outline: none;
	display: block;
	width: 100%;
	border: 1px solid #d9d9d9;
	margin: 0 0 20px;
	padding: 10px 15px;
	box-sizing: border-box;
	font-weight: 400;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	font-size: 14px;
}

.form-module input[type="text"]:focus,
.form-module input[type="password"]:focus,
.form-module input[type="email"]:focus {
	border: 1px solid #C7D0F5;
	color: #333333;
}

.form-module input[type="submit"] {
	background: #919191;
	width: 100%;
	border: 0;
	padding: 10px 15px;
	color: #ffffff;
	-webkit-transition: 0.3s ease;
	transition: 0.3s ease;
	font-size: 1em;
	font-weight: bold;
	text-transform: uppercase;
	outline: none;
}

.form-module input[type="submit"]:hover {
	background: #FF8D1B;
}

.form-module .cta {
	background: #343434;
	width: 100%;
	padding: 15px 40px;
	box-sizing: border-box;
	color: #fff;
	text-align: center;
}

.form-module .cta a {
	color: #fff;
	text-decoration: none;
	font-size: 1em;
}

.modal-header {
	text-align: center;
	font-size: 2em;
	color: #212121;
}

.modal-content {
	z-index: 9999;
}

.choice_sth {
	display: block;
	width: 340px;
	height: 42px;
	border: 1px solid #D9D9D9;
	color: #7575A0;
	margin-bottom: 6px;
}

#check_sth div {
	float: left;
}

#check_number {
	display: block;
	width: 210px;
	height: 42px;
	padding-right: 20px;
	color: #7575A0;
	margin-bottom: 6px;
}

#I_agree {
	margin-top: 10px;
	text-align: center;
}

#check_button {
	display: block;
	width: 30px;
	height: 42px;
	margin-right: 10px;
	border: 1px solid #D9D9D9;
	color: #7575A0;
	margin-bottom: 6px;
}

.form-module input,
.form-module select {
	display: inline-block;
	transition: background-color 1s ease;
	border-radius: 5px;
}


/*-- //login --*/


/*--//header--*/


/*--body--*/



#logReg:hover {
	color: #23C5BD;
}

.tab-grids input{
	border-radius: 3px;
}

.button_active{
	background-color: #017EBA;
	color: white;
}

/*--//body--*/


/*--footer--*/

#footerContainer {
	margin-top: 200px;
	width: 100%;
}

.footer {
	background-color: #FFFFFF;
	padding: 50px 0px;
}

.footerh {
	color: black;
	font-family: "Ubuntu", sans-serif;
}

.footer-social {
	list-style: none;
	float: left;
	padding-left: 0px;
}

.footer-social li {
	display: inline-block;
}

.footer-social li a i {
	color: #fff;
	font-size: 24px;
	display: inline-block;
	width: 30px;
	height: 30px;
	line-height: 30px;
	background-color: #78D0EE;
	border-radius: 3px;
	transition: all 0.8s ease-in 0s;
}

.quicklinks {
	position: relative;
	left: 90px;
}

.quickcontact {
	position: relative;
	left: 90px;
}

.follow {
	position: relative;
	left: 110px;
}

.quicklinks ul {
	list-style: none;
	padding-left: 0px;
}

.quicklinks ul li {
	margin-bottom: 10px;
}

.quicklinks ul li i {
	color: #fff;
}

.quicklinks ul li a {
	color: #78D0EE;
	font-family: "Source Sans Pro", sans-serif;
}

.quickcontact ul {
	list-style: none;
	padding-left: 0px;
}

.quickcontact ul li {
	color: #78D0EE;
	margin-bottom: 10px;
	font-family: "Source Sans Pro", sans-serif;
}

.quickcontact ul li i {
	color: black;
	width: 20px;
}

.quickcontact ul li {}

footer {
	background-color: #242424;
}

footer p {
	text-align: center;
	color: #fff;
	font-family: "Source Sans Pro", sans-serif;
	padding: 15px 0px !important;
	margin-bottom: 0px !important;
}

footer p a {
	color: #78d0ee;
}

@media (min-width: 200px) and (max-width: 767px) {
	.navb {
		background-color: #78D0EE;
		width: 100%;
	}
	.navb a {
		padding: 15px !important;
	}
	.banner {
		background: transparent url("images/bg.jpg") no-repeat scroll 0% 0% / 100% 100%;
		padding: 20px 0px;
	}
	.timing {
		text-align: center !important;
		border-right: none;
	}
	.timing h6 {
		color: #84784C;
	}
	.servicebox {
		margin-bottom: 20px;
	}
	.panel-group {
		padding-left: 0px;
		margin-top: 20px;
	}
	.follow {
		text-align: center;
	}
	.footer-social {
		float: none;
	}
	.quicklinks {
		text-align: center;
	}
	.quickcontact {
		text-align: center;
	}
}


/*--toTop--*/

#toTopButton {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 40px;
	left: 51%;
	margin-left: 500px;
	overflow: hidden;
	width: 50px;
	height: 49px;
	border: none;
	text-indent: -999px;
	z-index: 20;
	background: url(../images/totop.png) no-repeat left 0;
	transition: 0s ease;
	-o-transition: 0s ease;
	-webkit-transition: 0s ease;
}

#toTopButton:hover {
	outline: none;
	cursor: pointer;
	background-position: right 0;
}


/*--//toTop--*/


/*--//footer--*/