.nickname{
	display: block;
	font-size: 20px;
}
#s_province{
	display: inline;
	width: 100px;
	height: 42px;
	border: 1px solid #D9D9D9;
	background: #ffffff;
	color: gray;
	margin-bottom: 6px;
}
#s_city{
	display: inline;
	width: 100px;
	height: 42px;
	border: 1px solid #D9D9D9;
	background: #ffffff;
	color: gray;
	margin-bottom: 6px;
}
#s_county{
	display: inline;
	width: 150px;
	height: 42px;
	border: 1px solid #D9D9D9;
	background: #ffffff;
	color: gray;
	margin-bottom: 6px;
}
#iden2{
	
}
